
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :comment, :class => "label" %><br />
    <%= f.text_area :comment %>

    <%= f.label :price, :class => "label" %><br />
    <%= f.text_field :price %>

    <%= f.label :date, :class => "label" %><br />
    <%= f.date_select :date %>

    <%= f.label :userids, :class => "label" %><br />
    <div class="clearfix">
      <div class="input">
        <%= text_field_tag 'invoice[userids]' %>
      </div>
    </div>

  <div class="actions">
    <%= f.submit :class => "btn primary" %>
    <%= link_to 'Cancel', invoices_path, :class => "btn" %>
  </div>

  <% 
    if @invoice.users.empty?
      user_ids = ""
    else
      user_ids = @invoice.users.collect { |u| "{id:"+h(u.id.to_s)+", name:\""+h(u.name)+"\"}" } .join(",").html_safe
    end
  %>
  <script type="text/javascript">
  $(document).ready(function() {
    $("#invoice_userids").tokenInput("/users/search", {
      prePopulate: [
        <%= user_ids %>
      ], 
      theme: "facebook"
    }); 
  });
  </script>