<div class="invoice row well">
<% if current_user && current_user == invoice.creator %>
  <%= link_to 'x', invoice, confirm: 'Wirklich löschen?', method: :delete, :title => 'Eintrag löschen', :class => 'close' %>
  <%= link_to 'Bearbeiten', edit_invoice_path(invoice), :class => 'edit' %>
<% end %>

<div style="display:table;" class="span5">
	<div class="span1 center-cell">
		<%= link_to invoice.creator.name, user_path(invoice.creator), :class => "btn btn-success" %>
	</div>
	<div class="span1 center-cell">
		<div style="height:50%; border-bottom: 5px solid #EEEEEE; margin: 0 5px;">
		</div>
	</div>
	<div class="span1 center-cell">
		<span class="label-price label-important text-center"><%= euro invoice.price %></span> 
	</div>
	<div class="span1 center-cell">
		<div style="height:50%; border-bottom: 5px solid #EEEEEE; margin-left: 5px;">
		</div>
	</div>
	<div class="span2 center-cell">
	  <blockquote id="duty-users">
		<% invoice.duties.each do |duty| %>
			<%= link_to duty.user.name, user_path(duty.user), :class => "btn" %><br/>
		<% end %>
		 </blockquote>
	</div>
</div>

<div class="span5">
  <p><small><%= l invoice.date, :format => :long %></small></p>
  <blockquote>
 	 <p class="span7"><%= simple_format invoice.comment %></p>
  </blockquote>
</div>

</div>
