<p id="notice"><%= notice %></p>

<div class="row">

<div style="display:table;" class="span5">
	<div class="span1 center-cell">
		<%= link_to @invoice.creator.name, user_path(@invoice.creator), :class => "btn success" %>
	</div>
	<div class="span1 center-cell">
		<div style="height:50%; border-bottom: 5px solid #EEEEEE; margin: 0 5px;">
		</div>
	</div>
	<div class="span1 center-cell">
		<span class="label important"><%= @invoice.price %>&euro;</span> 
	</div>
	<div class="span1 center-cell">
		<div style="height:50%; border-bottom: 5px solid #EEEEEE; margin-left: 5px;">
		</div>
	</div>
	<div class="span2 center-cell">
	  <blockquote id="duty-users">
		<% @invoice.duties.each do |duty| %>
			<%= link_to duty.user.name, user_path(duty.user), :class => "btn" %><br/>
		<% end %>
		 </blockquote>
	</div>
</div>

<div class="span5">
  <p><small><%= l @invoice.date, :format => :long %></small></p>
  <blockquote>
 	 <p class="span7"><%= @invoice.comment %></p>
  </blockquote>
</div>

</div>

<%= link_to 'Edit', edit_invoice_path(@invoice) %>

