
    <%= f.label :name, t("activerecord.attributes.user.name", :default => "Name"), :class => :label %>
    <%= f.text_field :name, :class => 'text_field' %>

    <%= f.label :email, t("activerecord.attributes.user.email", :default => "Email"), :class => :label %>
    <%= f.text_field :email, :class => 'text_field' %>

    <%= f.label :pass_digest, t("activerecord.attributes.user.pass_digest", :default => "Pass digest"), :class => :label %>
    <%= f.text_field :pass_digest, :class => 'text_field' %>
<div class="actions">
  <button class="btn primary" type="submit">Save</button> or
	<%= link_to "Cancel", users_path %>
</div>
