
<h1>
	<%= @user.name[0] %><small><%= @user.name[1..-1] %></small>
	<%= link_to 'Neue Rechnung', new_invoice_path, :class => 'btn primary', :style => 'float: right' %>
</h1>
<p></p>
<% @users.each do |user| %>
	<% label_class = user.standing > 0 ? 'success' : 'important' %>
	<span style="padding: 20px;">
		<%= user.name %>
		<span class="label <%= label_class %>">
			<%= euro user.standing %>
		</span>
	</span>
<% end %>

<div id="chart" style="width: 500px; height: 200px; margin: 0 auto"></div>

<script type="text/javascript">
var standings = [
<% @users.each do |user| %>
	{
		name : '<%= user.name %>',
		data: [<%= user.standing %>]
	}<%= ',' unless user==@users.last %>
<% end %>
];
</script>

<%= render :partial => 'invoices/invoice', :collection => @invoices %>

