
<h1>
	<%= @user.name[0] %><small><%= @user.name[1..-1] %></small>
	<%= link_to 'Neue Rechnung', new_invoice_path, :class => 'btn btn-primary', :style => 'float: right' %>
	<%= link_to '', '#', :id => 'mail-btn', :class => 'btn icon-envelope', :style => 'float: right', :title => 'Notification Settings' %>
	<%= link_to '', { :action => "feed" }, :class => 'btn icon-info-sign', :style => 'float: right', :title => 'ATOM Feed' %>
</h1>
<div id="mail-box">
	<%= form_tag(:controller => "users", :action => "mail_info", :method => "post") do %>
		<div class="well">
			<label class="checkbox" style="width:210px; padding-right: 10px;">
				<%= check_box_tag 'wants_mail', 'Receive Mail?', @user.wants_mail %>
				Bei neuen Rechnungen Mail an:
			</label>
			<div class="input-prepend">
				<span class="add-on">@</span>
				<input class="span4" type="text" size="16" name="email" value="<%= @user.email %>">
				<button class="btn btn-success" type="submit" style="float:right; ;padding: 4px;">Speichern</button>
			</div>
		</div>
	<% end %>
</div>

<% @users.each do |user| %>
	<% label_class = user.standing > 0 ? 'label-success' : 'label-important' %>
	<span style="padding: 20px;">
		<%= user.name %>
		<span class="label <%= label_class %>">
			<%= euro user.standing %>
		</span>
	</span>
<% end %>

<div id="chart" style="width: 500px; height: 200px; margin: 3px auto"></div>

<script type="text/javascript">
var standings = [
<% @users.each do |user| %>
	{
		name : '<%= user.name %>',
		data: [<%= user.standing %>]
	}<%= ',' unless user==@users.last %>
<% end %>
];
</script>

<%= render :partial => 'invoices/invoice', :collection => @invoices %>

