<!DOCTYPE html>
<html>
<head>
  <title>WG-Tool</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 60px">
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        <h3><a href="/">WG-Tool<small>alpha</small></a></h3>
        <ul class="nav">
          <li><%= link_to "Users", users_path  %></li>
          <li><%= link_to "invoices", invoices_path  %></li>
          <li><%= link_to "Link3", "/path3"  %></li>
        </ul>
        <ul class="nav" id="nav-right">
          <% if current_user %>
            <li><%= link_to "Logut", signout_path %></li>
          <% else %>
          <li>
            <%= link_to image_tag('github_32.png'), "/auth/github", :title => 'Login with Github', :class => 'loginpic' %>
            <%= link_to image_tag('google_32.png'), "/auth/google_oauth2", :title => 'Login with Google', :class => 'loginpic' %>
          </li>
          <% end %>
          <li><%= link_to "About", :controller => "application", :action => "about"  %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <%- flash.each do |key, msg| -%>
        <div class="span6 alert-message <%= key %>">
          <a href="#" class="close">x</a>
          <p><%= msg %></p>
        </div>
      <%- end -%>
      <div class="row">
        <div class="span12">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
