<!DOCTYPE html>
<html>
<head>
  <title>WG-Tool</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 60px">
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        <h3><a href="/">WG-Tool<small>alpha</small></a></h3>
        <ul class="nav">
          <li><%= link_to "Users", users_path  %></li>
          <li><%= link_to "invoices", invoices_path  %></li>
          <li><%= link_to "Link3", "/path3"  %></li>
        </ul>
        <ul class="nav" id="nav-right">
          <li><%= link_to "About", :controller => "application", :action => "about"  %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span12">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
